[2012-09-30 03:20] andrewjanke opened #1 "mincreshape +/-direction options"
I occasionally bump into the fact that the mincreshape *direction
options operate on image dimensions (the two fastest varying
dimensions, i.e., a slice) only. Things like this:

$ mincreshape -xdirection test.mnc test-x.mnc
Copying chunks:................................................................................................................................................................

[2012-09-30 03:22] andrewjanke opened #2 "mincreshape - "Can't allocate 135168 bytes""
Another from the dark recesses of minc-users, not sure of this ones veracity as a test dataset wasn't provided.

---

 I am gettign a strange error from mincreshape when downsampling a dataset.
This is what I have:

And I do:

But it works with 16 slices:

Googling "Can't allocate 135168 bytes" leads to some results, but not
nothing that is an obvious fix to me.

I am on Fedora 17 with
mincreshape

[2012-11-06 00:32] jasonlerch opened #3 "cmake error dealing with minchistory and mincpik"
cmake fails with the following error:

CMake Error at progs/CMakeLists.txt:191 (INSTALL):
  install FILES given directory "/home/jason/git/minctools/progs/minchistory"
  to install.

CMake Error at progs/CMakeLists.txt:196 (INSTALL):
  install PROGRAMS given directory "/home/jason/git/minctools/progs/mincpik"
  to install.

-- Configuring incomplete, errors occurred!

[2012-11-07 02:26] #3 closed, assigned to vfonov

[2013-03-19 04:01] vfonov opened #5 "add -ceil and -floor options"
Andrew requested to have -floor and -ceil synonyms to -ignore_below and -ignore_above

[2013-03-19 04:03] #5 closed, assigned to nobody

[2013-09-05 07:10] matthew-brett opened #8 "mnc2nii appears to give incorrect scaling"
In writing my MINC2 conversion, I noticed that I think `mnc2nii` is getting the image scaling wrong.  For example, if I do this:

[code]

on an example file given to me by Andrew Janke, I get this:

[code]

among other stuff.  But, when I do this:

[code]

and load the data in nibabel or SPM, I get:

[code]

So - I think the scaling is incorrect for the generated nifti files.

[2013-10-17 02:46] andrewjanke opened #9 "minccmp only prints results for first volume"
reported by francois hebert on the minc-users list.

In the help of minccmp it is explained that minccmp will  calculate  simple
statistical measures between two minc files or more by comparing all
subsequent files to the first. but when I try to compare one file to
several minccmp just return the comparison of the 2 first files.

The problem is a missing loop here:

https://github.com/BIC-MNI/min

[2013-11-18 23:51] crawley opened #10 "Create git "tags" corresponding to the release numbers."
The change log shows release numbers, but this is not reflected as tags in the git repo.  Tags would help people who want to get a snapshot of a specific minc-tools release.  Please do this for (at least) the significant recent releases ... and going forward.

[2013-11-19 00:36] #10 closed, assigned to nobody

[2013-12-10 11:38] findios opened #12 "Can't find some of the minc tools"
Hi
After i installed the minc library and tools i can use some of the tools like mincinfo and mincpik but i can't use other like Display, mincnlm and nu_correct.
Do I need some extra configuration to use these?

[2013-12-10 14:09] #12 closed, assigned to nobody

[2014-03-03 10:35] findios opened #13 "Masks registration"
Hi
There's any way i can register one image using autoreg without changing the image intensities?  I'm trying register one file that contain the left and right hippocampus labels (two different labels) and after registration i can't separate them.

Thanks
Patrick

[2014-03-04 22:33] #13 closed, assigned to nobody

[2014-08-17 14:50] PaulMougel opened #14 "FL_LIBRARY not found"
I'm trying to install `minc-tools` but unfortunately the configuration process fails. The `FL_LIBRARY` variable is `NOTFOUND`, even if the configure script says that it found Flex on the system:

[code]

You can find the full log in [this gist](https://gist.github.com/PaulMougel/9a8dfcd3a10a9f30f2b6), including the commands I ran on the terminal.

I'm on a Mac, and FLEX was installed using homebre

[2014-08-19 12:42] #14 closed, assigned to nobody

[2014-10-30 06:37] andrewjanke opened #16 "mincaverage behaviour"
From the MINC mailing list.

Hello,
   I am running across some unexpected behaviour for mincaverage using
   -normalize and I'm not sure if it's a bug or not.
   Description:
   mincaverage -normalize in1.mnc in2.mnc in3.mnc out.mnc
   results in out.mnc with all zeros if the input files have a mean less
   than zero.
   I can reproduce this every time.
   At the moment I am able to 'hack' my min

[2014-11-04 16:52] andrewjanke opened #18 "minccalc range bug"
From minc-users (Alex Zijdenbos) - a minimal test dataset was never provided so I can't vouch as to its veracity. If it does turn out to be true my first guess is that it is related to a decision of Peter Neelins to convert the symbol table from local to global when I originally submitted minccalc. This made a few assumptions about the way the let calculus was implemented that may turn out to be
a

[2014-11-04 17:30] #16 closed, assigned to rdvincent

[2014-11-11 04:03] richardbeare opened #19 "new mosaic files"
Hi,
We are getting mosaic dicoms in a form that dcm2mnc doesn't cope with. ITK utilities appear to deal with them OK. Do you want some examples? Let me know the best way to send.

[2014-11-11 04:37] #19 closed, assigned to nobody

[2014-11-13 02:22] andrewjanke opened #20 "Adding json output to all commands that could benefit from it"
The proposal is for a -json flag for these tools:

   mincinfo, mincextract, mincstats, minccmp

Such that output is provided in JSON format for easier parsing by other things.

[2015-02-03 21:52] rdvincent opened #21 "mincresample -keep_real_range does not work with float volumes."
Reported by Alex Zijdenbos:

[2015-02-03 21:53] rdvincent commented on #21
I have a tentative fix for this I will check in shortly.

[2015-05-12 04:49] reckbo opened #22 "Compile fails on Mac 10.9 64bit"
I installed libminc, then tried to build minc-tools, but get this error:

make
[  1%] Built target invert_raw_image
Linking C executable minc_modify_header
Undefined symbols for architecture x86_64:
  "_MI2attdel", referenced from:
      _main in minc_modify_header.c.o
  "_MI2attget", referenced from:
      _main in minc_modify_header.c.o
  "_MI2attinq", referenced from:
      _main in minc_modify

[2015-05-12 14:25] vfonov commented on #22
Try building https://github.com/BIC-MNI/minc-toolkit

[2015-05-21 07:34] Angel-Fernandez opened #23 "Problem with spm realign"
Hi @andrewjanke

I've a problem with spm_realign. I'm trying to obtain movement parameters using the mean image. I've tried all  (flags.rtm equal 1, 0 or [ ]) and always obtain the same result respect the first volume.

![traslaciones](https://cloud.githubusercontent.com/assets/10339281/7743505/ca36afaa-ff9b-11e4-9882-0b847c7c51ff.png)

This is my code:

     flags.rtm=1;
     spm_realign(P,flags)

[2015-05-21 12:05] andrewjanke commented on #23
Hi Angel,

I'm not quite sure if you meant this message to end up here. My guess
is that you want the SPM mailing list.

a

On 21 May 2015 at 17:34, Angel-Fernandez <notifications@github.com> wrote:

[2015-05-28 02:04] andrewjanke opened #24 "Argument parsing"
mincreshape (and a few other tools) can be a bit picky about their input arguments, as an example:

   $ mincreshape -dimrange zspace=0001,0 ...

Will fail as it doesn't understand 0001 as 1. This can be a pain when calling mincreshape and friends from within scripts. What's the consensus on what the behaviour should be for this?

[2015-05-28 03:54] rdvincent commented on #24
Looking at the mincreshape code, it seems to do something reasonable here, which is pass the argument string to strtol(). My only concern is that it uses strtol() with base=0, so it interprets a leading '0' as starting an octal number. So 0001 should actually work, but 0008 will fail somewhat mysteriously.

The easy thing would be to disallow octal and hex here and hand an explicit base=10 to strt

[2015-05-28 04:04] andrewjanke commented on #24
I'm for it! (and am with you on the unlikely use of octal and hex).

Thanks for hunting this one down, it took me long enough to figure what was going wrong with my nipype script that was calling a perl script that was calling shell that was.... At that point I found the strange error was due to mincreshape I decided it was time to stop digging.

[2015-05-28 04:13] rdvincent commented on #24
A quick glance shows that ParseArgv.c does something similar with its integer arguments.

Just to be safe, I might implement a quick solution that recognizes a leading 0x/0X as indicating hex, but treats everything else as decimal. I think that would be the most conservative fix - I can't imagine anyone is relying on passing octal arguments, but I can't completely rule out hex in some contexts.

[2015-05-28 04:26] andrewjanke commented on #24
Works for me. The leading 0x is consistent with a number of other command line tools and scripting languages.

Thanks

[2015-06-02 14:09] rdvincent commented on #24
OK, I checked in these changes in the develop branch. Check it out when you have a spare tic.

[2015-06-03 00:56] andrewjanke commented on #24
Looks good to me.

Thanks

a

On 3 June 2015 at 00:09, Robert D Vincent <notifications@github.com> wrote:

[2015-07-08 21:06] vfonov opened #25 "<program> -help goes into infinite loop"
runnung mincinfo -help fills the screen with spaces and contienues untill killed.

[2015-07-08 21:38] vfonov commented on #25
The issue is caused by using unsigned integer type in https://github.com/BIC-MNI/libminc/blob/develop/libsrc/ParseArgv.c#L396

[2015-07-08 21:42] #25 closed

[2015-09-11 19:12] #9 closed

[2015-09-11 19:12] #18 closed

[2015-09-11 19:12] #21 closed

[2015-09-13 01:37] smr99 opened #27 "Build fails without bison & flex"
If either one is missing, the configure step fails such as this:

 -- Looking for include file pwd.h - found
 -- Could NOT find BISON (missing:  BISON_EXECUTABLE)
 -- Found FLEX: /usr/bin/flex (found version "2.5.39")
 CMake Error at Testing/CMakeLists.txt:45 (GET_PROPERTY):
   get_property could not find TARGET minccalc.  Perhaps it has not yet been
   created.

The issue is that progs/CMakeLists

[2015-09-13 01:57] andrewjanke commented on #27
the logic of the autoconf build was as such:

if flex is found, build the .l and .y targets.

if flex isn't found, use the prebuilt .c versions that were built during
the make dist target but not in the git repository.

can we replicate this behavior with cmake and cpack?

a
On 13/09/2015 11:37 am, "Steven M. Robbins" <notifications@github.com>
wrote:

[2015-10-08 16:42] #23 closed

[2016-01-08 18:00] cfhammill opened #28 "Build Fails Ubuntu 12.04"
I'm trying to install libminc and minc-tools on a ubuntu 12.04 virtual machine

`cmake .`

so I tried (after removing CMakeCache)
`cmake . -DLIBMINC_DIR=$HOME/libminc/ # where LIBMINCConfig lives`
and
`cmake . -DLIBMINC_DIR=/usr/local/lib # the install path`

both of which configure, but then make fails in both cases with

[2016-01-08 18:13] vfonov commented on #28
I suggest building https://github.com/BIC-MNI/minc-toolkit

[2016-01-08 18:13] vfonov commented on #28
And also use a separate build diretory

[2016-01-08 18:42] cfhammill commented on #28
building in a subdirectory fixed the problem, thanks

[2016-01-29 00:22] andrewjanke opened #29 "minccmp range values"
Allow users to input a list of range/floor/ceil values.

Currently the range only applies to the first input volume.

https://github.com/BIC-MNI/minc/blob/master/progs/minccmp/minccmp.c#L333

Code for doing this is already in mincstats so copying that over should be straight forward.

[2016-01-29 01:20] rdvincent commented on #29
So minccmp would completely ignore voxels outside the range, for every file? This seems to imply a sort of "and" operation, where the logic would be that we ignore any voxel that falls outside the prescribed range for any of the input volumes?

[2016-01-29 01:43] andrewjanke commented on #29
This feature request was prompted by Paul's request on minc-users for a different range/float/ceil for two input volumes. If we take the more general approach as per in mincstats then yes what you are suggesting makes sense:

[code]

[2016-03-03 15:29] ajwood opened #30 "xfm2def discretisation"
xfm2def is broken unless it's given -float or -double. To reproduce:

[code]

It also needs a `VIO_` prefix added here and there, plus an entry inserted to CMakeLists.txt.

[2016-03-03 15:30] vfonov commented on #30
up-to date version is here: https://github.com/BIC-MNI/EZminc/blob/develop/tools/xfm2def.c

[2016-03-03 15:35] ajwood commented on #30
Does that fix this bug? Or just the `VIO` compiler errors?

Are there more tools that are diverging like this? How should one decide between a tool in `minc-tools` vs `EZminc`?

[2016-03-03 15:43] vfonov commented on #30
I been using this through xfm_normalize.pl script ( https://github.com/BIC-MNI/EZminc/blob/develop/scripts/xfm_normalize.pl ) for the last 8 years. As you can see, with -float flag.

It was never officially part of minc-tools

[2016-03-10 17:14] gdevenyi opened #31 "mincaverage ignores -no_check_dimensions"
I'm trying to average overlapping but ever-so-slightly different dimensioned (off by 2 vox) scans:

[code]

[code]

[2016-03-10 17:43] vfonov commented on #31
What does mincinfo says?

[2016-03-10 18:11] gdevenyi commented on #31
I explicitly made them different sizes by doing an autocrop -isoexpand 1v

[code]

[code]

[2016-03-10 18:24] rdvincent commented on #31
nocheck_dimensions just tells tools to ignore the specifics of the dimension names and transform. The library still checks that the individual dimension lengths are consistent.

[2016-03-10 18:26] gdevenyi commented on #31
Ah, okay. So that failure mode makes sense now.

Perhaps will offer a documentation update for the current option to be a bit more clear.

[2016-03-10 18:26] #31 closed, assigned to nobody

[2016-03-12 10:36] jesperfr opened #32 "nii2mnc miscalculates minc start values"
We need nii2mnc to convert Nifti files for processing in the Minc file format. But for about half of the files, the start values are miscalculated. It seems that the image orientation is correct (the cosines are ok), but the start values are wrong.

We are running on Ubuntu Server 64-bit 14.04 LTS and the code is from master.

[code]

We have verified that the Nifti files are placed correct compar

[2016-03-12 12:47] rdvincent commented on #32
Can you submit a test case (e.g. a NII file) that exhibits the problem?

[2016-03-12 20:22] jesperfr commented on #32
[example.zip](https://github.com/BIC-MNI/minc-tools/files/170602/example.zip)
This is an example of one of the problematic files. If we convert the Dicom files directly to Minc, we get:

[code]

But if we apply nii2mnc to the Nifti file inside the zip archive, the resulting Minc file has these dimensions:

[code]

I can produce more examples if needed.

[2016-03-12 22:53] rdvincent commented on #32
@jesperfr You might want to try to code from the develop branch. I just tried your example files with a build from the develop branch, and it seems more correct to me.

[2016-03-13 13:26] jesperfr commented on #32
I have just tried the develop branch of nii2mcn:

[code]

But it still give exactly the same start values as the master branch, which clearly are different than for the Minc file created directly from the Dicom files:

[code]

Which differs from the start values from the Minc file generated directly from Dicom (which is placed correct):

[code]

[2016-04-05 13:15] fristed commented on #32
@rdvincent Any progress on this issue. I have similar issues with nii2mnc.

[2016-04-05 14:38] rdvincent commented on #32
@fristed No, I think I need a better test case to reproduce the exact problem. As far as I have been able to tell, we correctly convert the NIfTI header's transform. If you have a specific dataset that exhibits this issue I'd be happy to check it out.

[2016-04-05 17:27] jesperfr commented on #32
[sagittal.zip](https://github.com/BIC-MNI/minc-tools/files/204986/sagittal.zip)
[coronal.zip](https://github.com/BIC-MNI/minc-tools/files/204988/coronal.zip)
Great to hear!
I have attached two zip files as examples of sagittal and coronal orientations that both produce faulty start values when converting from Nifti to Minc.

Each zip file contains 3 files:
 dcm2mnc_OK_zero.mnc    (converted direct

[2016-04-07 08:54] fristed commented on #32
@rdvincent Can you reproduce the problem from the images uploaded by @jesperfr ?

[2016-04-07 20:06] rdvincent commented on #32
@jesperfr It would be great if I could get the original DICOM for at least one of these examples.

[2016-04-08 11:01] jesperfr commented on #32
@rdvincent These acquisitions were made on a patient, so the complete dataset can not be made available. Would the first and last Dicom slice be enough? They should provide enough spatial information to produce the image geometry and orientation.

[2016-04-08 14:30] rdvincent commented on #32
That should be enough.

[2016-04-08 14:52] jesperfr commented on #32
@rdvincent That sounds fine!
Here is the first and last dicom file for each of the two series mentioned above.
[Sagital_Cororal_Dicom.zip](https://github.com/BIC-MNI/minc-tools/files/210350/Sagital_Cororal_Dicom.zip)

[2016-04-13 21:17] poquirion opened #33 "build failed on ubuntu 16.04"
Here is my non default config for cmake:

[code]

I also used zlib on for good mesure

[code]

But got the following on the make:

[code]

I have tied adding the -lz option in the cmake flags for compilation but to no effect.

[2016-04-13 21:43] vfonov commented on #33
Are you building minc-toolkit ?

[2016-04-14 01:05] poquirion commented on #33
Aïe, am I on the wrong thread. Think I had too many tabs open on my browser.

I am trying to build the mink-toolkit-v2

[2016-04-14 13:32] #33 closed, assigned to nobody

[2016-04-20 21:16] gdevenyi opened #34 "minc_modify_header can't delete top-level variables"
Not sure if this is a bug or a missing feature:

With a minc header such as:

[code]

I'd like to be able to delete these top-level dicom variables.

[code]

[code]

Is it possible to do this?

[2016-04-20 21:29] rdvincent commented on #34
Not sure off the top of my head, but I assume it should work.

[2016-04-20 21:49] andrewjanke commented on #34
If it's possible, I'm not aware of how. I once spent a large amount of time
trying to get this to happen and in the end gave up, dumped the header to
cdf, parsed it and then back to MINC to ensure things were gone when
anonymising data. See mincanon and mincclean here:

   https://github.com/BIC-MNI/minc-widgets/tree/master/mincanon

a

On 21 April 2016 at 07:29, Robert D Vincent notifications@git

[2016-04-20 21:55] rdvincent commented on #34
there's some ability to delete things in HDF5. Possibly not in NetCDF. In neither case would I assume it would make the file smaller, or automatically overwrite the values (e.g. erase sensitive information).

[2016-04-20 22:11] gdevenyi commented on #34
Well, mincanon and mincclean are exactly what I was trying to put togeather. So I guess my work is done :)

@andrewjanke expect an incoming patche for mincanon which uses a temp directory. I found that high speed read/writes using minc_modify_headers triggers a nasty bug in my NFSv4 systems

[2016-05-12 14:51] ajwood opened #35 "Reordering dimensions like a reference volume"
I was wondering if it might be a good idea to add something that could reorder dimensions like a reference volume (e.g. a step needed before passing a zxy volume and an xyz volume to mincmath). Of course this would only work if the volumes have the same sampling and are just stored in a different order.

I wondered if a natural place for this would be adding a "-like" option to mincreshape?

[2016-05-12 15:02] vfonov commented on #35
mincreshape input.mnc -dimorder $(mincinfo -vardims image reference.mnc|tr ' ' ',') output.mnc

[2016-05-12 15:04] #35 closed, assigned to nobody

[2016-05-13 19:52] gdevenyi opened #36 "dcm2mnc devel HEAD cannot properly convert Bruker 7T timeseries data"
Currently puts timeseries on Z axis

Can provide a variety of sample data (structural and timeseries) via private link

[2016-05-13 19:52] gdevenyi commented on #36
https://github.com/neurolabusc/dcm2niix properly converts data

[2016-05-13 19:53] rdvincent commented on #36
sure, send the link...

[2016-05-13 20:10] gdevenyi commented on #36
**radiological coordinates

[2016-05-14 07:06] andrewjanke commented on #36
Be aware that on the Bruker platform it is up to the author of the pulse
sequence to create the correct mapping from phase directions to real
dimensions if they have modified the original phase encoding directions.
Thus you can have the situation where the dimension order will appear to
change dependant on the pulse sequence. This is only an issue with DICOM
exported data from a Bruker scanner. Th

[2016-05-14 11:52] rdvincent commented on #36
@andrewjanke Thanks for the information.

[2016-05-16 13:56] gdevenyi commented on #36
Thanks for the feedback @andrewjanke  I wasn't aware of the issues with the DICOM converter. I'll go back and do some comparisons against pvconv.

In the meantime, @rdvincent all I can say is, dcm2niix did convert this successfully to a time serie, not sure if it's doing some unsafe heuristics in order to manage it.

[2016-05-16 13:57] rdvincent commented on #36
I'll take a look at it today (or possibly tomorrow) and see if I can figure out what's up with this.

[2016-05-16 16:49] gdevenyi opened #37 "mincstats with ``-pctT 0`` isn't parsed properly"
[code]

[code]

[2016-05-24 15:49] gdevenyi opened #39 "ana2mnc_xfm_reduce.pl reports perl scope errors?"
I think perl got stricter about formatting between the writing of this code and now.

Paging @andrewjanke is this tool more reliable than ana2mnc for handling SPM files?

[code]

[2016-05-24 16:39] rdvincent commented on #36
@gdevenyi So there is a fix checked into develop. The Bruker series do not indicate either the total number of slices or time points. We had historically taken a conservative view and treated all images as slices in the absence of this information. I added some code to actually calculate the number of distinct spatial coordinates, which gives us a minimum number of slices for a normal acquisition,

[2016-05-24 17:00] gdevenyi commented on #36
Hrm, that didn't change anything for the example files I sent you, I still get a big z-space with no timeseries.

[2016-05-24 17:02] rdvincent commented on #36
@gdevenyi That's odd, I just tested with those three sequences and get 150 time points for the two dynamic sequences.

[2016-05-24 20:28] andrewjanke commented on #39
Hi Gabriel,

As I recall the purpose of this was to dissociate the orientation and "registration" parts of the .mat file. SPM combines these so if you just convert the whole thing many of the MINC tools fail as rotations are more than 90deg. In effect you will always end up with a ZYX volume but the orientation might be sagittal via a rotation matrix. This was causing me problems so I set out to s

[2016-05-24 21:25] gdevenyi commented on #39
Cool, I see what you mean by realign vs register.

[2016-05-25 14:05] rdvincent commented on #36
@gdevenyi I re-tested on a different machine with a different version of Ubuntu and got the same results:

[code]

[2016-05-26 13:36] gdevenyi commented on #36
This is probably another instance of "make install" not replacing all the things that needed replacing. I will purge and re-install and test again (we had the same issue when you added the adjustable register views)

[2016-06-06 19:52] gdevenyi commented on #36
Okay, I found the problem.

I have been running the conversion as:

[code]

Which is lumping all the series together, and breaking your heuristics. When I run it on an individual series at a time, I get your output.

[2016-06-06 20:02] rdvincent commented on #36
Ahh, good to know. I'll investigate why that causes it to do the wrong thing. I think we should be able to handle this case as well.

[2016-06-13 20:04] bcdarwin opened #41 "rawtominc wrongness with nonstandard dimname"
In the Pyminc test suite (such as it is) we generate a random MINC file roughly as follows:

`rawtominc /tmp/test_vector.mnc -input /dev/urandom 3 100 150 125 -dimorder vector_dimension,xspace,yspace,zspace`

This didn't used to crash, but after compiling `minc-toolkit-v2` with gcc-4.9.1 produces a segfault.  The problem seems to be [here](https://github.com/BIC-MNI/minc-tools/blob/master/progs/ra

[2016-06-13 21:12] rdvincent commented on #41
Thanks for the report - I just checked in a probable fix (commit id 751ca893194ff6bc39d64adf99a4e1ef178df1bb).

[2016-06-14 13:49] rdvincent commented on #37
@gdevenyi This should be fixed in develop.

[2016-06-14 18:18] gdevenyi opened #42 "Feature Idea: Allow mnc2nii to use transform from a nifti file"
I have run into the following problem on many occasions:

1) Receive from collaborator some kind of nifti file, which has been "processed" by SPM or FSL (aka has sform/qform data)
2) Convert said file to minc using `nii2mnc` which properly handles sform/qform and provides me with a reasonably oriented minc file
3) Process said file (for example, produce label files for it using magetbrain)
4) Conv

[2016-06-14 20:10] gdevenyi commented on #42
@rdvincent let me know if you need example files, I have some

[2016-06-14 20:13] rdvincent commented on #42
@gdevenyi Always happy to have a few examples.

[2016-06-15 11:07] andrewjanke commented on #42
Can I suggest an alternate approach that will achieve the same result? Before Bert updated mnc2nii and nii2mnc in C, I had a perl version (ana2mnc) I put extra functionality in there based upon querying $0. So if you called ana2mnc as spm2xfm it would read a SPM triple (.mat, .hdr, .img) and create a minc .xfm.

   https://github.com/BIC-MNI/minc-tools/blob/master/conversion/ana2mnc/ana2mnc#L212

[2016-06-15 13:44] gdevenyi commented on #42
@andrewjanke I've played around with ana2mnc and related, I found I don't fully understand the NIFTI sform/qform maddness (maybe there's some docs somewhere that describe everything coherently?) Additionally, this dataset didn't have .mat, it had headers in the NIFTI file, which I don't think ana2mnc handles?

My major goal is a workflow that goes from/to NIFTI without special casing every dataset

[2016-06-15 16:02] andrewjanke commented on #42
Sorry, to clarify.

I wasn't suggesting that ana2mnc understands the qform and sform transforms. (it doesn't as it predates the ratified nifti spec).

I was suggesting that instead of combining the qform and sform we could also add an accompanying .xfm with the .mnc file. In this manner when then converting back to .nii there could be an optional .xfm input that would then in combination with the

[2016-06-15 17:31] gdevenyi commented on #42
Thanks @andrewjanke I get it now. Yes, if nii2mnc would provide an xfm file which I could use with mnc2nii to get back into the same space, I would be a-okay with that as an alternative.

[2016-06-28 18:15] ajwood opened #43 ""mincresample -transform" diffusion gradients"
Since diffusion gradients can be stored in the minc header in acquisition:direction_[xyz] and acquisition:bvalues, I was wondering if the core minc tools could be made to interpret them, where appropriate.

The first tools that come to mind are:

1) mincresample -transform lin.xfm
Transform the directions along with the data

2) mincconcat -concat_dimension zspace slice1.mnc slice2.mnc slice3.mnc

[2016-06-30 02:53] andrewjanke commented on #43
I'm not against this but I'd suggest we tread carefully, or if we do implement this make it only accessible via an argument as opposed to default (in a way hidden) behaviour.

Reasoning:
1. There are times when you transform diffusion data in which you don't want to reorient.
2. There are a number of different methods to reorient diffusion data, for a linear transform it's reasonably well understo

[2016-06-30 14:00] ajwood commented on #43
My concern with the current implementation is that after a transform, the gradients directions in the header are simply incorrect.
1. I haven't come across a situation in which you don't want to reorient. Can you share an example? If this is an exceptional case, perhaps we could reorient by default, with an option to disable.
2. For linear, reorienting seems straightforward.  For nonlinear, since

[2016-07-01 04:38] andrewjanke commented on #43
A case for #1 would be distortion correction (from gradients).

On #3 realise that having information that is no longer valid/of use in the header is not unique to diffusion data.

[2016-07-05 20:57] gdevenyi commented on #36
Hi, just following up here re: the lumping series together problem. Any progress I can test?

[2016-07-05 21:10] gdevenyi opened #44 "dcm2mnc HEAD (ce5e4ddd978c5a40e23b5097a30e2a30f88cd271) segfaults on Philips DICOMs"
minc-toolkit/1.9.11 successfully converts Philips dicoms, HEAD currently segfaults:

[code]

Example data available.

[2016-07-06 13:25] rdvincent commented on #44
ok please send an example.
i am currently working on other Philips issues - they seem to be starting to make extensive use of n-D datasets.

[2016-07-06 13:55] gdevenyi commented on #44
Sent

[2016-07-06 14:04] gdevenyi opened #45 "minclookup loses quotes around lut_string when saving history"
Original command was:

[code]

But history shows:

[code]

With the quotes missing the command is "broken"

[2016-07-06 14:05] gdevenyi commented on #45
This may be a shell issue, that minclookup never sees the quotes, but it should insert some in the history perhaps?

[2016-07-06 14:07] rdvincent commented on #45
This is partially a shell issue - but at a minimum we should probably restore quotes around strings that contain spaces.

[2016-07-07 14:49] rdvincent commented on #45
@gdevenyi I checked in a fix for this, which I think is sufficient for most cases.

[2016-07-07 14:50] rdvincent commented on #36
@gdevenyi Try this now. Bruker should work. Still working on getting the Philips N-D data "right".

[2016-07-11 16:26] gdevenyi commented on #44
Updates seem to have fixed the example dataset I sent, but it's still broken for the rest of the subject population. I'll have to anonymize some more for you.

[2016-07-11 18:47] gdevenyi commented on #36
Looks good now

[2016-07-11 18:47] #36 closed, assigned to rdvincent

[2016-07-14 17:58] zijdenbos opened #46 "mincmorph removes identity direction cosines from the header"
mincmorph does not propagate the direction_cosines attributes, if they are the identity transform (1 0 0; 0 1 0; 0 0 1). It seems to me that if the input volume has these attributes, they should be propagated - regardless of their value?

[2016-07-15 15:49] gdevenyi opened #47 "minccomplete not installed with minc-toolkit?"
minccomplete doesn't seem to be installed with minc-toolkit-v2

[2016-07-20 14:46] gdevenyi opened #48 "mincreshape can't do non-integer slice steps"
Slices steps for -dimsize are attempted to be parsed as integers, so you can never use non-integer slicing

https://github.com/BIC-MNI/minc-tools/blob/master/progs/mincreshape/mincreshape.c#L601-L609

[2016-07-20 14:58] vfonov commented on #48
dimsize supposed to represent number of slices in the given dimension. How can you have non-integer number of slices?

[2016-07-20 16:30] gdevenyi commented on #48
Oops, seems I completely misinterpreted the parameter. Sorry for the noise.

[2016-07-20 16:30] #48 closed, assigned to nobody

[2016-08-03 19:11] gdevenyi opened #49 "mincreample allows conflicting options"
From the list, Alex Z
Hi all,

I realized that mincresample happily accepts multiple of these options
simultaneously:

-like <model.mnc>
-tfm_input_sampling
-use_input_sampling

I would think that these three options should be mutually exclusive, and
that mincresample should check for that? I believe at the moment, -like
silently takes precedence between these three.

[2016-08-03 19:14] gdevenyi opened #50 "Mincreshape normalize and fill"
From Alex z on list
Hello all,

The -normalize option ("Normalize images to real minimum and maximum for
the entire input file") appears to disregard the fill value (if provided).
For example, if volume in.mnc has a range [5,100], this call:

mincreshape [-start ... ] -normalize -fillvalue 0 in.mnc out.mnc

actually fills with 5, not 0. I would consider that a bug, and say that
-normalize should i

[2016-08-11 16:09] lblewis opened #51 "mnc2nii intensity ranges"
Hello,

For some select filetypes, the intensity range is not identically maintained between mnc to nii.

Example files:

ftp://bigbrain.loris.ca/BigBrainRelease.2015/3D_Volumes/MNI-ICBM152_Space/mni_icbm152_t1_tal_nlin_sym_09b_hires.mnc
ftp://bigbrain.loris.ca/BigBrainRelease.2015/3D_Volumes/MNI-ICBM152_Space/full8_400um_2009b_sym.mnc
# mni_icbm152_t1_tal_nlin_sym_09b_hires.mnc is unsigned short

[2016-08-11 16:33] rdvincent commented on #51
@lblewis Thanks. Which version of mnc2nii are you using?

[2016-08-11 17:36] lblewis commented on #51
Vlad's minc-toolkit-v2.

[2016-08-11 17:44] rdvincent commented on #51
@lblewis I think this may actually be a bug in Display's reading of NIfTI files. The NIfTI header looks correct, but Display is showing the wrong thing.

[2016-08-11 19:00] lblewis commented on #51
Ah, I believe you are correct!

[2016-08-18 09:32] fristed commented on #32
@rdvincent Did you have time to test the example?
@jesperfr Perhaps it would be easier to test if you upload the nifti file as well?

[2016-08-18 16:05] rdvincent commented on #32
@fristed Thanks for the reminder, I have spent some time on this but I'm not convinced that I have resolved the problem. @jesperfr Having more test cases (ideally with complete DICOM) would be helpful.

[2016-08-29 18:42] mcvaneede commented on #47
same with minc-toolkit (version 1)

[2016-08-30 21:09] gdevenyi commented on #42
@rdvincent any movement on this? I've got a new batch of nifti->minc->nifti conversion I'll need to do for another dataset

I see some changes in rdv-nifti branch

[2016-08-30 21:57] rdvincent commented on #42
@gdevenyi No change to address this specifically. It would be good to have a clear example of a situation in which this _doesn't_ work, so that I could see if the proposed fix would deal with it.

[2016-08-31 14:06] gdevenyi commented on #42
Sorry, I don't understand "in which this doesn't work".

My report in the first comment stands as being the problem I run into.
My proposal of a "reference" nifti or @andrewjanke's of a mnc2nii xfm would both allow me to convert/transform labels back into the original nifti space.

[2016-08-31 15:06] rdvincent commented on #42
@gdevenyi What I meant is this: in general, conversion nii2mnc -> <other stuff> -> mnc2nii should preserve the voxel-to-world transformation. So assuming everything is working correctly (a large assumption, I'll admit), the only reason to add some additional option to pick up a transform from another file would be if the "other stuff" made changes that you didn't want copied back into the mnc2nii

[2016-08-31 15:16] gdevenyi commented on #42
Okay.

[code]

orig.nii and back.nii do not have the same orientation anymore, I expect that they should.

See email for attachment.

[2016-09-01 18:52] gdevenyi opened #52 "dcm2mnc HEAD "forgets" about naming scheme"
Trying the following on a directory of DICOMS:

[code]

Things start off okay:

[code]

But then:

[code]

Not quite sure what's happening there, but my naming scheme has been overridden.

[2016-09-01 18:54] gdevenyi commented on #45
Fixed

[2016-09-01 18:54] #45 closed, assigned to rdvincent

[2016-09-01 18:55] gdevenyi commented on #51
Maybe resolved by https://github.com/BIC-MNI/Display/issues/65 ?

[2016-09-20 13:32] gdevenyi opened #54 "conversion/CMakeLists.txt doesn't include extra conversion scripts"
CMake install conversion/ is missing ana2mnc and such.

Since these are uncompiled, I'm not sure how to add them to the install since I can't copy the dcm2nc stanzas in CMake, otherwise, I'd do a PR.

[2016-09-29 21:19] bcdarwin opened #55 "xfminvert doesn't preserve dimorder"
Probably belongs as a `libminc` issue, but:

[code]

[2016-09-29 21:59] gdevenyi commented on #55
This is from minc-toolkit/1.9.11

[2016-11-01 14:46] vfonov opened #56 "mincreshape changes dimension spacing from regular to irregular, when space has coordinates associated with it"
Test:

- `mincinfo -attvalue zspace:spacing PreventAD_424640_lego_phantom_MTL_20160621_greT2star_001.mnc`
  `regular__`

- `mincreshape -dimrange zspace=0,10 PreventAD_424640_lego_phantom_MTL_20160621_greT2star_001.mnc test.mnc`
  `mincinfo -attvalue zspace:spacing  test.mnc`
  `irregular`

- `mincinfo -varvalues zspace PreventAD_424640_lego_phantom_MTL_20160621_greT2star_001.mnc`
  `-60.799999237

[2016-11-01 15:17] vfonov commented on #56
This part has to be changed to something sane:
https://github.com/BIC-MNI/minc-tools/blob/develop/progs/mincreshape/mincreshape.c#L1585-L1590

[2016-11-01 15:21] rdvincent commented on #56
What is the state of the zspace dimension variable in the original file? Does it contain a vector of spacings?

[2016-11-01 15:33] vfonov commented on #56
yes, it does  - see above.

[2016-11-01 16:29] rdvincent commented on #56
The code you cite is the way it is because I've had requests to preserve the vector of sample points along the dimension even when the overall spacing is regular. However, micreate_std_variable() automatically sets "irregular" spacing if the number of variable dimensions is > 0. I'd say it would be correct to override that in mincreshape by setting the spacing correctly after the step and start ar

[2016-11-01 17:35] vfonov commented on #56
It might be worth adding code to correctly fill out the contents of zspace , when mincreshape is extending FOV:
`./minctools/progs/mincreshape -dimrange zspace=-10,20 PreventAD_424640_lego_phantom_MTL_20160621_greT2star_001.mnc test.mnc`

`mincinfo -varvalues zspace test.mnc`

0
0
0
0
0
0
0
0
0
0
-60.799999237061001622
-58.799999237061001622
-56.799999237061001622
-54.799999237061001622
-52.799999

[2016-11-02 21:12] gdevenyi opened #57 "mnc2dcm tools on develop not installed"
I thin a small tweak to cmake is needed to install these tools.

[2016-11-03 02:33] andrewjanke commented on #57
This is likely because they aren't complete. They 90% work but it was more an itch of mine that I scratched a while back rather than a complete converter. Am also not sure of the licencing on the DICOM perl module, I made some modifications to it to get this to work IIRC.

[2016-11-03 14:41] gdevenyi commented on #57
Okay. dcmsort is fantastic. I use it constantly.

[2016-11-03 19:54] andrewjanke commented on #57
I should add that I think the best way forward for this is to port both dcmsort and mnc2dcm to use dcmtk instead of DICOM.pm. That would be dcmdump for dcmsort and img2dcm for mnc2dcm.

dcmtk has long term support unlike the DICOM perl module I modified such that it would write DICOM in addition to reading it.  The main issue was that the DICOM perl module doesn't create correct DICOM UID's IIRC.

[2016-11-21 15:22] fristed commented on #32
@rdvincent I have another test case attached. This is a nifti file with a binary mask. When I do nii2mnc and mnc2nii the image is reshaped. Here are the XYZ dimensions:

Original: 240 256 176
nii2mnc: 176 240 256 (XZY order)
mnc2nii: 176 240 256
nii2mnc: 176 240 256 (ZYX order)

As you can see the dimensions are consistent after the first conversion, however, the dimension order changes.

I use a

[2016-11-21 18:24] rdvincent commented on #32
@fristed Are all of the files correct  in the sense that they all have the same geometry in world space?

As of now, mnc2nii always reorders dimensions to yield an nii file with ZYX organization. This was done to make the conversion simpler, since for files with vector or time dimensions we _must_ reorder things to be compatible with NIfTI (NIfTI supports arbitrary ordering of spatial dimensions,

[2016-11-21 19:00] jesperfr commented on #32
Hi Robert,
I would like to test the new voxel-to-world transform.
It is fixed in minc-toolkit-v2 master branch?
Yours,
 Jesper Frandsen

2016-11-21 19:24 GMT+01:00 Robert D Vincent notifications@github.com:

[2016-11-21 19:02] rdvincent commented on #32
@jesperfr It should build in minc-toolkit-v2, but you should take care to check out the develop branch of all projects and subprojects.

[2016-11-22 09:33] fristed commented on #32
@rdvincent Yes, they do align in world space. I guess a simple resampling will have to do, though it would have been nice to be able to convert back and forth in a consistent way.

[2016-11-22 14:26] rdvincent commented on #32
@fristed I completely understand. I intend to add a special case to preserve the dimension ordering for spatial-only volumes, but I just haven't had time to implement it yet.

[2016-11-23 15:19] fristed commented on #32
@rdvincent No worries. We all appreciate the hard work you put into developing and maintaining MINC :+1:

[2016-11-23 15:27] vfonov commented on #32
I made a new tag ( release-1.9.14) for minc-toolkit-v2 two weeks ago that contains all the updated subprojects as of then.
https://github.com/BIC-MNI/minc-toolkit-v2/releases/tag/release-1.9.14

[2016-11-23 19:07] gdevenyi commented on #32
debs for trusty, xenial and debian jessie available at:
https://www.dropbox.com/sh/pah0ngr3rzu6j3j/AACLsWS1QoRhz1Rxeh-_2zSla?dl=0

[2016-11-24 08:57] jesperfr commented on #32
Hi Robert,
Thanks for your work!!
I downloaded the developer branch 2 days ago and have just finished testing
the nii2mnc conversion. All the cases that failed in March now completes
correctly.
Great work!
Cheers,
 Jesper

2016-11-22 15:26 GMT+01:00 Robert D Vincent <notifications@github.com>:

[2016-11-24 15:33] rdvincent commented on #32
@jesperfr Thanks for the confirmation. I'm going to leave this issue open for now to remind me to address the concern @fristed has raised.

[2016-11-25 16:34] vfonov opened #59 "mincreshape doesn't handle minc files with double/float storage type correctly when image_range is not specified"
With nl_subject04_grid_0.mnc being the output of minctracc in nonlinear mode:
[code]
Running mincreshape, 1st case (doesn't work):
[code]

Running mincrshape, 2nd case: setting arbitrary limited image range (works):
[code]

Running mincreshape with -normalize (doesn't work) :
[code]

[2017-01-05 19:20] mcvaneede opened #60 "incorrect percent difference calculation in mincmath?"
In this line:
https://github.com/BIC-MNI/minc-tools/blob/master/progs/mincmath/mincmath.c#L689

the percent difference is calculated as:
100.0 * (value1 - value2) / value1;

should that not be:
100.0 * (value2 - value1) / value1;

?

[2017-01-05 19:24] mcvaneede commented on #60
As an example, running:

[code]

will produce an output file with -16.66 values, instead of the expected 16.66.

[2017-02-06 18:28] gdevenyi opened #61 "dcm2mnc: update manpage to document %P for using protocol name in mnc file naming"
Something very nice about modern dcm2nii converters is the output files can be named with the sequence information from the DICOMs.

Right now dcm2mnc only offers the acquisition number as a naming option. Sadly, if the sequence was done out-of-order at the scanner this number is unreliable.

Currently I rely on parsing the mincheader output to rename the resulting files to something more useful,

[2017-02-06 19:45] andrewjanke commented on #61
This is already possible in dcm2mnc, have a look at the -fname and -dname options. Here's python snippet showing what is possible.

cmd = ['dcm2mnc', '-usecoordinates', '-anon',
                '-dname', '',
                '-fname', '%N_%D-%T_' + str(SeriesNumber).zfill(2) + '_' + StudyDescription + '_' + SeriesDescription + '%s%e%t%p%c']
            cmd.extend(flist)
            cmd.append(outdi

[2017-02-06 20:26] gdevenyi commented on #61
Thanks @andrewjanke I was aware of -fname and -dname, but it didn't appear to me that any of the "%" formatting options actually contain the info I want inserted? It looks like you're getting that elsewhere in that snippet?

[2017-02-06 20:39] andrewjanke commented on #61
Correct,

I extract exactly what I want with dcmdump as it is dependent on the
scanner.

A

On 7 Feb 2017 6:27 am, "Gabriel A. Devenyi" <notifications@github.com>
wrote:

[2017-02-06 20:42] rdvincent commented on #61
@gdevenyi There is a poorly-documented option, %P, that is available to insert the protocol name, as well as %A to insert the acquisition or series ID. Would either of these help?

[2017-02-06 21:26] gdevenyi commented on #61
%P is exactly what I'm looking for

Recasting request as a "update manpage"

[2017-02-07 17:05] rdvincent commented on #61
@gdevenyi It is already in the man page, at least on the develop branch. Not sure the man page is getting installed however.

[2017-02-07 18:27] gdevenyi commented on #61
Ah, on develop I'm seeing a manpage without this option listed.

[2017-02-07 18:35] rdvincent commented on #61
It should be listed as shown here:

https://github.com/BIC-MNI/minc-tools/blob/develop/conversion/dcm2mnc/dcm2mnc.man1#L214

[2017-02-07 19:14] gdevenyi commented on #61
Yup, my sources have that, but the installed version seem to be coming from somewhere else.

[2017-02-07 20:25] vfonov commented on #61
http://bic-mni.github.io/man-pages/man/dcm2mnc

On Feb 7, 2017 2:14 PM, "Gabriel A. Devenyi" <notifications@github.com>
wrote:

[2017-02-09 21:44] gdevenyi opened #62 "develop, openjpeg code relies on removed functions in openjpeg 2.0"
Was trying to build, looks like the 2.x series moved/renamed some functions. Successfully builds against 1.5.2

Perhaps should be rolled into superbuild?

[2017-02-09 21:45] gdevenyi opened #63 "develop, libjpeg code depends on 1.8 series functions"
Building on an old system with libjpeg1.6, ``jpeg_mem_src`` is missing, so I needed to grab and build libjpegturbo to provide a newer version.

Perhaps roll into superbuild?

[2017-02-09 22:35] vfonov opened #64 "splitoff dcm2mnc into a separate project"
Maybe it's time to make dcm2mnc separate from other minc tools?

[2017-02-13 08:48] fristed commented on #64
Perhaps I missed a discussion? Why would we want that?

[2017-02-13 17:17] vfonov commented on #64
It starts having more dependencies then the rest of the tools. I could see that somebody would eventially want to integrate it with GDCM and official DCMTK libraries.

[2017-02-14 08:06] fristed commented on #64
Good point

[2017-03-10 18:10] vfonov commented on #62
With openjpeg 2.1 I am getting error messages:
dicom_read.c:2482:8: error: unknown type name 'opj_dinfo_t'; did you mean 'opj_tp_info_t'?
static opj_dinfo_t* OPJ_CALLCONV (*_opj_create_decompress)(OPJ_CODEC_FORMAT);

[2017-03-13 12:25] rdvincent commented on #62
I think I may back out this code, or move it to a separate branch. Not worth the trouble.

[2017-04-05 20:31] gdevenyi opened #65 "Feature Idea: mincheader query specific item"
Similar to minc_modify_header, it would be nice if there were a way to dump a single header item.

[2017-04-05 21:43] vfonov commented on #65
`mincinfo -attvalue <variable>:<attribute>  ...` ?

[2017-04-06 13:54] gdevenyi commented on #65
That is indeed what I'm looking for.

Thought it might be in mincheader or minc_modify_header. Never thought of mincinfo.

Sorry!

[2017-04-06 13:54] #65 closed, assigned to nobody

[2017-05-03 14:58] gdevenyi opened #66 "dcm2mnc with multi-echo from Bruker 7T flattens all echos into single scan"
This is a multi-echo T2star scan with 8 echo times.

Instead of either producing 8 minc files or a single minc file with the extra dimension having the echos, we get what looks like an image composed of a single structural slice of the 8 echos stacked up against each other.

Happy to share the DICOMS.

[code]

[2017-05-05 01:13] andrewjanke opened #67 "dcm2mnc and JPEG compression"
I note that dcm2mnc will silently fail on images with JPEG compression (you get black/blank images). Specifically ones that say things like this:

`# Dicom-Data-Set`
`# Used TransferSyntax: JPEG Lossless, Non-hierarchical, 1st Order Prediction`

I recognise that this is a licencing thing, meaning we'd have to include a JPEG licence in dcm2mnc to make this happen but am curious if others have ways

[2017-05-05 02:15] rdvincent commented on #67
There is actually some code in there now to handle jpeg compression, and to crash if the compression is something we don't know how to handle. There are open-source libraries for most of the useful transfer encodings.

[2017-05-06 11:28] andrewjanke commented on #67
Ah, in the develop branch.

https://github.com/BIC-MNI/minc-tools/commit/157d0532dd137e21147ee3de6a92e77f37463457

I shall give it a whirl.

a

On 5 May 2017 at 12:15, Robert D Vincent <notifications@github.com> wrote:

[2017-05-10 20:24] gdevenyi opened #68 "nii2mnc (and Display) improperly handles some NIFTI files"
I have some *.hdr/*.img files from the fBRIN section of Schzconnect which
1) Don't render properly in Display
2) Don't convert properly with nii2mnc

In particular, they end up squeezed compared to the originals:

Example:
Display:
![image](https://cloud.githubusercontent.com/assets/3001850/25919551/10e4b44a-359d-11e7-82ae-5c3224164539.png)

FSL
![image](https://cloud.githubusercontent.com/assets/

[2017-05-10 20:26] gdevenyi commented on #68
PrintHeader:
[code]

[2017-05-25 17:58] gdevenyi commented on #37
Fixed.

[2017-05-25 17:58] #37 closed, assigned to rdvincent

[2017-05-26 17:29] gdevenyi commented on #66
Rolling in @christinetardif since this is her data

[2017-07-07 11:20] fristed commented on #32
@rdvincent While the fixes to nii2mnc seemed to work on all our test data, we have now discovered a dataset where mnc2nii produces a nifti file with swapped orientations.
[mask.zip](https://github.com/BIC-MNI/minc-tools/files/1130808/mask.zip)
Applying mnc2nii results in a mis-oriented volume and nii2mnc does not recover it. Perhaps you can take a look?

[2017-07-19 20:59] gdevenyi opened #69 "mnc2nii treats minc files touched by different minc tools differently"
Running into a very weird bug in minc-toolkit/1.9.15:

Example 1:
have brain1.mnc and brain1_mask.mnc
if I do
[code]

I get NIFTI file that has the orientation re-arranged (i.e. no longer in the same space)
If instead I do:
[code]

Everything is fine

Example 2:
have brain1_mask.mnc
[code]
Everything is fine.

[code]
Same problems as above.

Example of the swapped orientation problem:
![image](htt

[2017-07-19 21:17] andrewjanke commented on #69
HI Gabriel,

My punt is a apparent vs file dimension order bug. I'm currently
having the same issues with volextents as it seems that what I
originally wrote to try to handle this doesn't work anymore:

   https://github.com/BIC-MNI/minc-widgets/blob/master/volextents/volextents#L108

I'm putting together a test case for this. I would suggest you try
this bit of magic on both the input minc files:

[2017-07-19 21:25] rdvincent commented on #69
mnc2nii is pretty buggy. I have been working on some comprehensive fixes, but it is surprisingly hard to catch all of the cases.

[2017-07-20 14:07] gdevenyi commented on #69
@andrewjanke sadly, the mincreshape didn't fix it up :(

[2017-08-16 08:48] fristed commented on #69
This seems to be exactly the same bug we report in issue #32 (last comment). Also, I think this bug arose with the fix done in November 2016, which addressed the issue of wrong start values. Running a mnc2nii from before the November 2016 fix does not have the bug with swapped orientation.
In issue #32 (last comment) I provide an example, which behaves similarly as the example provided by Gabriel

[2017-08-28 19:10] gdevenyi commented on #61
Thanks @vfonov but that man page also is missing "%P"

[2017-08-28 19:22] vfonov commented on #61
I guess this commit came after I split up man pages: https://github.com/BIC-MNI/minc-tools/commit/157d0532dd137e21147ee3de6a92e77f37463457

[2017-09-13 18:46] gdevenyi commented on #69
Thanks for the hint @fristed, an older version of mnc2nii doesn't have this bug and otherwise converts everything fine.

[2017-10-18 15:00] ajwood opened #70 "dcm2mnc can't read DICOM fields with OB value representation"
I've got an fMRI dicom series from a GE scanner that dcm2mnc can't convert correctly. I've narrowed it down to a problem reading the "locations in acquisition" field (0021,104f). In this dicom, this field's Value Representation is OB, so dcm2mnc ends up reading a 0; I know it's actually a signed short, and its value is 35.

My first reaction was to conclude that this is broken dicom data, but I ha

[2017-10-18 16:07] ajwood commented on #70
I ran this dicom through dciodvfy (http://www.dclunie.com/dicom3tools/dciodvfy.html), and it picked up on the OB fields violating the dicom dictionary, and correctly pointed out that this one _should_ be SS.  I don't really understand how a dicom dictionary can describe a private tag like this, but perhaps dcm2mnc should adopt the dictionary for use on OB values?

[2017-10-18 16:19] andrewjanke commented on #70
If it were me, I'd be writing something dodgy (sorry, "agile") in Perl
using either the DICOM:: Perl Module or system calls to dcmodify to sort
out your input dicom data...

FWIW, I find it common to have to special case DICOM conversions/reads when
you take data from multiple places. dcmdump is invaluable in these cases.

a

On 19 October 2017 at 02:07, Andrew Wood <notifications@github.com> wrot

[2017-10-18 16:38] ajwood commented on #70
I haven't been able to come up with a dcmdump call that actually reads this field correctly though:

    # Read from the bad series
    $ dcmdump +P 0021,104f ./bad/001
    (0021,104f) OB 23\00                                    #   2, 1 LocationsInAcquisition

    # Read from a good series
    $ dcmdump +P 0021,104f ./good/001
    (0021,104f) SS 35                                       #   2, 1 L

[2017-10-19 18:23] zijdenbos commented on #70
I asked David Clunie this questions; see below for his response. I would
say that it would make sense for dcm2mnc to incorporate a dictionary
fallback for these value representations?

*From David Clunie:*"The use of OB for private data elements usually happens
because:

- the data was transmitted at some point using the Implicit
VR Transfer Syntax, and

- the receiving system did not know the pri

[2017-12-06 20:30] jpcoutu opened #72 "dcm2mnc assigns wrong Slice indices to 4D PET dicom series"
I have encountered a 4D PET DICOM series that gets reconstructed properly using an old dcm2mnc (2014, minc-2.2.00, unsure which repo/commit), and not using the current develop branch. I think this is due to a problem within get_file_indices() in dicom_read.c.

Running dcm2mnc in debug mode, I can see that new indices are being added to the Slice list for the same coordinate value, while they shoul

[2017-12-06 20:52] vfonov commented on #72
I hope @rdvincent  can help with this

[2017-12-20 20:08] jpcoutu opened #73 "add_philips_info temporal id determination"
I encountered an issue with Philips diffusion dicom files that did not get converted properly. The cause was this line in the add_philips_info sub in dicom_to_minc.c:

int id = (i1 < c1) ? i1 : (c1 + i2);

In this context, i1 is the b-value index of the file (varies between 1 and c1, which is the total number of different b-values), i2 is the gradient orientation index and c2 is the gradient orien

[2017-12-22 19:08] jpcoutu commented on #72
I have created a temporary fix to this problem. I say temporary because I don't think this is the right way to go about it, but it does what needs to be done without creating a problem for other dicom series (following our testing). Basically this is a sub called fix_dimensions() that is called right before sort_dimensions() in dicom_to_minc.c. It fixes the problem mentioned above, and another one

[2018-01-08 17:32] jpcoutu commented on #72
Since my last post I encountered two other variants of this case, both GEMS PET, and I figured I would share them and post an updated fix_dimensions() sub. The first case had no obvious field to determine the number of time frames, so it was needed to allow the time dimension to grow (it says close to line 900 in dicom_read.c that time dimension is allowed to grow, but isn't). I enabled this for s

[2018-01-17 16:26] jpcoutu opened #75 "Siemens mosaic diffusion scan upside down (and solution)"
We have a dicom series for which the scan was flipped upside down. The mosaic has a clear transverse orientation (as observed with xmedcon), but this bit of code went wrong (in parse_siemens_proto2 in dicom_to_minc.c) and determined the mosaic has coronal orientation, because the direction cosine along z was -0.99, and absolute values are not used when doing comparisons:

[code]
The solution was s

[2018-01-17 16:41] vfonov commented on #75
@rdvincent ?

[2018-02-15 22:13] bcdarwin commented on #55
Still an issue as of 2.4.02.

@rdvincent

[2018-02-15 22:39] vfonov commented on #55
i hear a rumour that @rdvincent  is not going to be spending much time supporting MINC

[2018-04-01 11:22] andreashorn opened #78 ".nii support for minc tools"
Given the recent paper with great success of BestLinReg (https://www.sciencedirect.com/science/article/pii/S1053811918302350) and some discussion (https://twitter.com/default_mode/status/980064187228573696) I wanted to ask whether there is any interest in natively supporting .nii format for some basic MINC tools? (e.g. starting with a linear and nonlinear registration algorithm)? I think the commu

[2018-04-03 17:19] vfonov commented on #78
Hmm, the date of this issue is 1st of April. Is it an April's fool joke?

[2018-04-03 17:23] andreashorn commented on #78
Not at all! Really high interest here!!

[2018-04-03 17:33] vfonov commented on #78
We can also leave all the good stuff in MINC only, and then maybe there will be more interest in supporting minc-toolkit development and adopting the file format.

[2018-04-03 18:33] andreashorn commented on #78
...and I wouldn’t blame you for that!
You (=both yourself and the Neuro) have already given and continue to give so much to the community.

Still, despite all the problems of the NIfTI format (I personally don’t like it a lot either), we can probably agree that there is no other single file format supported by as many tools out there. Thus, any open pipe tool will always use it and including MINC

[2018-04-03 22:02] andrewjanke commented on #78
I think the "potential header compatibility problems" is an understatement. I'd argue that part of the reason that MINC has been so successful at registration over the years is the consistent, well documented and rigorous definition of the coordinate space. Over time NiFTI has caught up but there is by no means consistent adoption of this standard by all Nifti tools yet.

What I'm angling at is th

[2018-04-03 23:24] gdevenyi commented on #78
I must agree with @andrewjanke, @vfonov has done a great job maintaining minc-toolkit and improving upon it. It would be a huge burden adding the "flexible" nifti format into the cleanly designed MINC world.

I can see some need for the nii2mnc/mnc2nii pair to be improved a bit, but this is mostly an issue with the fuzzyness that is NIFTI, rather than anything to do with MINC.

As I see it, the wa

[2018-04-03 23:30] vfonov commented on #78
By the way, now Register and Display can read and write nifti files natively, thanks to the changes by @rdvincent .

[2018-04-03 23:35] vfonov commented on #78
Also, something interesting for @andrewjanke , graph of top 10 contributors activity to [minc-toolkit-v2](https://github.com/BIC-MNI/minc-toolkit-v2/tree/develop-1.9.17), over years:
![Top 10 contributors](https://raw.githubusercontent.com/BIC-MNI/minc-toolkit-v2/develop-1.9.17/analysis/minc_toolkit_v2_top10_authors.png)

[2018-04-04 02:12] andrewjanke commented on #78
Most interesting, thanks Vlad. I could claim that some of that green should be orange!  "Back in my Day" (TM) you had to ftp your changes/additions to Peter Neelin and he'd commit your changes to RCS/CVS! MINC dev used to require a BIC account. :)

[2018-04-04 02:53] vfonov commented on #78
By the way, there is going to be another meeting on the future of MINC at the MNI in a couple of weeks, maybe they will organize Skype/go-to meeting/Google hangout this time: https://doodle.com/poll/nxv2awddth2c4qyp

[2018-04-04 05:40] andreashorn commented on #78
Thanks all for your responses! Was worth a try I guess!

[2018-04-04 05:40] #78 closed, assigned to nobody

[2018-04-04 12:09] zijdenbos commented on #78
I'd agree that the issues with NIfTI's coordinate space confusion (at one
point we struggled for weeks trying to shuttle NiIfTI data between
different NIfTI tools, which between themselves couldn't agree on the use
of qform and sform). As convenient as it may seem to build in native NIfTI
support into MINC, leaving the conversion to dedicated converters
(nii2mnc/mnc2nii) already works - given the

[2018-04-04 12:34] andreashorn commented on #78
A few more thoughts:

- Re "MINC is better behaved" I'd think this is likely not true. If you'd stay completely within one well-maintained environment (e.g. inside the "SPM world"), nifti is a near perfect file format with no issues attached whatsoever. Problems arise when using different tools that interpret headers differently. I'd bet that similar things could happen if every dev whatsoever sta

[2018-04-04 12:45] vfonov commented on #78
@zijdenbos  I think the conclusion of the meeting was that those people had so much trouble with minc because of the lack of documentation, not because something was wrong with minc-toolkit itself.

Implementing new features (like support for nifti) is not going to help in these cases.

[2018-04-10 14:28] gdevenyi opened #79 "mincstats reports negative variance and -nan for stddev as a result"
Looking at the ratio of two files generated by minccalc like this that are very very similar:

[code]

Computing statistics on the ratio, mincstats breaks down:
[code]

[2018-08-16 20:02] bbbxyz commented on #79
Seems like this is caused by [cancellation when calculating the variance ](https://github.com/BIC-MNI/minc-tools/blob/5c22d289e27c14ea2c281ce9246bd93a2171186f/progs/mincstats/mincstats.c#L980). It only seems likely to become an issue in volumes that are uniform and close to 1, since the `Sum^2` is close to  `Sum * Sum / #voxels`, which might explain why the bug went unnoticed for so long.
See: htt

[2018-08-17 13:36] gdevenyi commented on #79
Wow, this is the second naive numerical implementation I've run into this month :)

Thanks for looking into this!

[2018-08-18 03:55] andrewjanke commented on #79
Indeed a good catch!   In my defense when I wrote mincstats (circa 2002) that wikipedia page looked a lot different! :)

[2018-08-20 01:51] gdevenyi commented on #79
We'll overlook it this time @andrewjanke, but you're on thin ice as far as bugs in the 100+ minctools you wrote from scratch.... ;)

[2018-08-22 19:38] gdevenyi commented on #79
Solved by #83

[2018-08-22 19:38] #79 closed, assigned to nobody

[2018-09-22 19:57] Abelian-grape opened #84 "ACR_Trigger_time takes precedence over ACR_Frame_reference_time"
I have encountered a 4D PET (series type : DYNAMIC) that have zeros in the trigger time tag but with valid frame reference time values. The result of the conversion was a MINC volume with 4 time frames that has 0 time width.

https://github.com/BIC-MNI/minc-tools/blob/346ce29b9c9fe4edb5466ba4ce57f3653db6b7c8/conversion/dcm2mnc/dicom_read.c#L1854

I was wondering if there is a specific reason for f

[2018-09-27 13:49] #84 closed, assigned to nobody

[2019-04-03 14:44] moreje opened #86 "Compilation issue"
Hello,
I try to build minc-tools (develop branch) on a new Ubuntu 18.10 system.
Cmake outputs the following error:
NIFTI_DIR                        NIFTI_DIR-NOTFOUND

I can't find where/how to define this NIFTI-DIR option
thanks for your help

[2019-04-03 16:57] gdevenyi commented on #86
Hi,

Please provide your configure command, outputs and error logs.

[2019-04-04 08:26] moreje commented on #86
I only have this warning at the configure step:
[code]
and then:

[code]

[2019-04-04 11:45] vfonov commented on #86
I suggest building https://github.com/BIC-MNI/minc-toolkit-v2 or https://github.com/BIC-MNI/minc-toolkit

[2019-04-04 11:53] moreje commented on #86
it is what I used to do (minc-toolkit-v2) .... but I need some fixes/updates recently pushed on minc-tools by R. Vincent...(and I also facing building issues with minc-toolkit-v2 on a new Ubuntu PC)

[2019-04-04 14:57] gdevenyi commented on #86
You can clone minc-toolkit-v2 and selectively update the commit hash of the minctools subproject to pull in the new fixes, rather than trying to selectively compile minctools.

If you want to go this path, you will need to download/build/install niftilib, or point the minctools config to an existing minc-toolkit-v2 build of niftilib.

[2019-04-04 15:43] moreje commented on #86
thank you, I will try that...
any idea on how to fix:
`OpenBLAS_DIR                     OpenBLAS_DIR-NOTFOUND   `
when trying to build minc-toolkit-v2 ? I thought openBlas should be built with minc-toolkit?
thank you

[2019-04-04 15:50] gdevenyi commented on #86
Also sent via email....

You're hitting this bug:
https://github.com/BIC-MNI/minc-toolkit-v2/issues/72

Since I'm not sure of the fix for this bug yet, I haven't had time to investigate, what you can do is avoid it by:
- clear your build directory
- Use the non-interactive cmake settings as example here:
https://github.com/BIC-MNI/build_packages/blob/master/build_v2.sh#L45-L73

In particular what

[2019-04-04 15:53] moreje commented on #86
thank you! let's try!

[2019-06-04 20:25] stilley2 opened #87 "mnc2nii gives incorrect output with -dual or -ASCII options"
The output file extension is always .nii. As far as I can tell, the call to [nifti_set_filenames](https://github.com/BIC-MNI/minc-tools/blob/develop/conversion/nifti1/mnc2nii.c#L505) does not pass the desired filetype, so the default is chosen. I'm not entirely sure what this means for the actual contents of the file.

[2019-06-07 19:44] egarza opened #88 "dcm2mnc does not properly convert some PV6.0.1 dicoms"
Hi, I have some rat brain imaging data I want to convert from dicom to minc. No problem with previous scans. On the new scans, however, when I try to convert it only converts one slice. I've tried with minc-tools 1.9.17 and 1.9.16 without luck.

Here I attach the logs from a conversion that worked and one that did not. Sequences were identical except for the resolution.

[log_worked.txt](https://g

[2019-06-11 01:09] egarza commented on #88
Seems there were 2 repetitions in the sequence and the DICOM export from Bruker just mixes all images into one folder. mrtrix picked it up.

[2019-06-11 01:09] #88 closed, assigned to nobody

[2019-06-12 14:54] jpcoutu opened #89 "dcm2mnc not using private Philips dicom tags for scaling"
It seems that dcm2mnc does not make use of the private Philips dicom tags (2005,100D) (SI) and (2005,100E) (SS) for scaling the stored pixel data. Currently it seems to only use the public scaling tags (0028,1052) (RI) and (0028,1053) (RS), to output the 'display value' (DV) scaled from the stored pixel value (PV):

DV = PV ⋅ RS + RI

As described in this [paper](https://www.ncbi.nlm.nih.gov/pmc/a

[2019-06-12 19:33] cmadjar opened #90 "mn2nii failure to produce valid NIfTI files"
I ran `mnc2nii` on multiple MINC files and none of the files are converting properly. I encounter two types of issues:

### 1. Conversion of 4D datasets (ASL, BOLD and DWI)

All 4D datasets that I tried `mnc2nii` on were all converted into files with no brain on it. Min and Max values on the NIfTI files were set to 0. Note, the number of volumes in the NIfTI files correspond to the number of volum

[2019-06-19 17:10] gdevenyi opened #91 "minclookup does not support -labels"
minclookup's -discrete setting does not enforce the "no renormalization" needed to avoid messing up label numbers and -discrete doesn't turn on that handling either.

[2019-06-19 17:12] gdevenyi commented on #91
Looks like based on https://github.com/BIC-MNI/minc-tools/commit/cc03c467df866a76f8a7eb0115ddc0fa10651fa1 its quite easy to add.

Does it make more sense to attach it to the -discrete option or add a -labels option (or both?)

[2019-06-19 17:40] vfonov commented on #91
I would say it should be attached to both.

[2019-06-19 17:48] gdevenyi commented on #91
will do!

[2019-06-27 15:39] cmadjar commented on #90
Hi MINC developers,

I was wondering if you had a chance to look into this issue?

In the context of open science (CONP, TOSI etc...), we need to be able to convert MINC files into valid NIfTI files (we cannot use dcm2nii since our defacing pipeline runs on MINC files). Since the community of researchers keep asking us to give them NIfTI files, we are stuck and need to have a mnc2nii working versi

[2019-06-27 16:25] gdevenyi commented on #90
Can you please repeat your tests with minc-toolkit/1.9.17, thanks.

[2019-06-27 22:52] cmadjar commented on #90
Hi Gabriel,

Is there a pre-compiled version available somewhere for 1.9.17? I am trying to compile using the README.md guideline but I get 'Configuring incomplete, errors occurred!' when I run `cmake`.

History of commands:
[code]

Log of the cmake command is attached ([log_cmake.txt](https://github.com/BIC-MNI/minc-tools/files/3336897/log_cmake.txt)). Looks like it cannot find a lot of the `CMak

[2019-06-27 22:54] cmadjar commented on #90
nervermind. I just realize I forgot the --recursive option of the git command... Sorry.

[2019-06-28 12:54] cmadjar commented on #90
Hi again,

The issues seem to have been fixed in the latest release of the MINC tools (1.9.17). Thank you for your help!!

Cécile

[2019-06-28 12:56] gdevenyi commented on #90
Sorry I'm a bit late now, but you can find newer packages for all systems at https://packages.bic.mni.mcgill.ca/minc-toolkit/Debian/

I really need to update the BIC webpage...

[2019-06-28 12:59] cmadjar commented on #90
No worries. Thank you for your help!

The link will be very useful for all the upgrades I have to do on multiple servers.

[2019-06-28 13:02] gdevenyi commented on #90
Followup, we have rpms too, the base directory is open: https://packages.bic.mni.mcgill.ca/minc-toolkit/

[2019-06-28 13:44] vfonov commented on #90
You can try with conda too: `conda install -c vfonov minc-toolkit-v2` - it doesn't have Display or Register though.

[2019-06-28 13:57] gdevenyi commented on #90
Very nice! @vfonov maybe we can get this into conda-forge?

[2019-06-28 14:15] vfonov commented on #90
my original reason to make it on mainline conda was to make it work with CentOS6 , which is still used in certain places.
Recipes are here: https://github.com/vfonov/conda-recipes/

[2019-06-28 14:31] cmadjar commented on #90
Hi again,

So I tried the pre-compile version for Ubuntu 16.04 (minc-toolkit-1.9.17-20190313-Ubuntu_16.04-x86_64.deb) on one of our VM with Ubuntu 16.04 and I basically screwed up the VM :S...

Here is what I ran and the output of the dpkg command:
[code]

Then I tried to install one of the dependency (`sudo apt-get install libc6`) which returned:
[code]

So I ran what was suggested `apt-get -f in

[2019-06-28 15:14] vfonov commented on #90
looks like somebody packages 1.9.17 32bit as 64bit.

[2019-06-28 15:15] cmadjar commented on #90
:S. That would explain it...

[2019-06-28 15:15] cmadjar commented on #90
Would it be possible to replace the package by one that was created as a 64bit?

[2019-06-28 15:17] gdevenyi commented on #90
You've found a bug in the cpack packaging of minc-toolkit, the 32bit package is getting the same name as the 64bit package and overwriting the 64bit version.

[2019-06-28 15:25] gdevenyi commented on #90
Ref: https://github.com/BIC-MNI/minc-toolkit-v2/issues/86

[2019-07-04 18:39] gdevenyi commented on #90
The packaging has been fixed, rebuilt and re-uploaded

[2019-07-04 18:48] cmadjar commented on #90
Thank you!

[2019-07-04 19:08] cmadjar commented on #90
@gdevenyi It looks like it is trying to into the 1.9.16 directory and not 1.9.17. Is that the intended behaviour?

I don't really want to delete my 1.9.16 directory for now. I was thinking of installing 1.9.17 next to it.

[code]

[2019-07-04 19:12] cmadjar commented on #90
Nevermind... It installed it but failed removing the old instance which is perfect for me.

Thanks again!

[2019-07-04 19:39] cmadjar commented on #90
@gdevenyi It looks like the issue with `mnc2nii` I reported is present in the package builds but not if we do the install from the Github repo.

[2019-07-04 19:42] cmadjar commented on #90
The 4D datasets are completely empty when converted using `mnc2nii`. I completely uninstalled 1.9.16 and installed 1.9.17 on the VM I am trying and ended up with the same bug as previously mentioned for the 4D datasets.

Could it be something that happens when creating the pre-built packages? Maybe a missing dependency failing silently?

Thanks

[2019-07-04 19:56] gdevenyi commented on #90
Can you please share some data for me to do testing.

[2019-07-04 20:27] cmadjar commented on #90
You can download an example from the Open PREVENT-AD LORIS instance. I saw you had an account on it. Once logged into that instance, just copy this link: https://openpreventad.loris.ca/api/v0.0.3-dev/candidates/5219094/PREBL00/images/preventad_5219094_PREBL00_bold_001.mnc

(Note any 4D dataset would end up with the same failure but that is the one on which I tested lately)

Let me know if you pref

[2019-07-04 20:43] gdevenyi commented on #90
Can you please describe how you are testing the validity of the NIFTI files and determining there is nothing in them?

[2019-07-04 20:58] cmadjar commented on #90
I open the resulting NIfTI file in MRICRON or fsleyes and can see that the min and max values for the fMRI volumes are 0.

Also, if I try to create a screenshot of the NIfTI file, I get a complaint saying the file is empty, which is indeed the case, there is no image (but the number of volumes is correct though).

When I installed the MINC tool 1.9.17 using the Github repo and make, `mnc2nii` prod

[2019-07-05 13:40] gdevenyi commented on #90
I have confirmed the issue on my 18.04 MINC-VM.

I am investigating possible sources of issues.

One thing of note is that the mnc2nii in minc-toolkit-v1 shows the same issue, despite being a different version, which points to a build system difference, rather than an issue with the codebase. Right now, I'm leaning towards to cmake weirdness.

[2019-07-05 15:19] gdevenyi commented on #90
changing cmake versions didn't resolve the issue.

[2019-07-05 16:19] gdevenyi commented on #90
Can you please provide some more details on your VM setup? Particularly the build environment. I see for example you had upgraded cmake, have you added any other extra APT sources?

[2019-07-05 16:43] cmadjar commented on #90
Welcome to Ubuntu 16.04.6 LTS (GNU/Linux 4.4.0-154-generic x86_64)

History of commands before I ran make on the git repo:
[code]

For me the apt-get cmake version was 3.5 so I had to remove it and install it from their `sh` script since I got an error that I needed at least cmake 3.6. I ended up with version 3.15.0-rc3 of cmake on my sandbox.

In case that is helpful, here is the list of the vers

[2019-07-05 16:54] gdevenyi commented on #90
Was this VM configured in any other way besides these commands? What's its base install? Ubuntu server? Ubuntu desktop? Ubuntu minimal?

[2019-07-05 17:08] cmadjar commented on #90
I have no idea. This is a VM on one of our servers that was created more than 7 years ago and upgraded multiple times... Not really a clean fresh install.

[2019-07-05 17:11] gdevenyi commented on #90
Okay, I'm trying to narrow down differences. My local builds mnc2nii works, and so does yours, but our packages are built in fresh clean docker environments:
https://github.com/BIC-MNI/build_packages/blob/master/build_ubuntu_18.04_x64/Dockerfile

[2019-07-05 17:17] cmadjar commented on #90
Looks like the cmake version on the Dockerfile is different than the one I used. Don't know if that could be an issue?

Or maybe the docker is missing another dependency that was not documented yet?

Very wild guesses. I can send the list of packages installed on my VM if that helps, but there are a lot of them...

[2019-07-05 17:22] gdevenyi commented on #90
Yes, I've tried various cmake versions now, it doesn't seem to affect this. If you have anything added to sources.list.d or sources.list that may help.

[2019-07-05 17:30] cmadjar commented on #90
mmm. What a mystery.

my sources.list.d content:
[code]

And here is the content of sources.list:
[sources.list.txt](https://github.com/BIC-MNI/minc-tools/files/3363628/sources.list.txt)

Not sure what to look for in those files.

[2019-07-05 18:20] gdevenyi commented on #90
At this point I'm stuck. I'm not sure where the issue is originating, maybe @vfonov has an idea.

[2019-07-05 18:33] vfonov commented on #90
maybe environment variables are different?

[2019-07-05 18:38] vfonov commented on #90
I just tried on a DTI scan from 7T, mnc2nii seem to work fine - fsleyes shows images.

[2019-07-09 02:22] gdevenyi commented on #90
Some experimental results:
Packages work on centos, fedora and debian, as well as ubuntu 14.04.

Stops working in Xenial and above in Ubuntu

So something in the build system changed in Ubuntu, now investigating what that is.

[2019-07-09 02:31] gdevenyi commented on #90
Also, building locally on Ubuntu bionic results in a broken mnc2nii

[2019-07-09 15:04] vfonov commented on #90
So, on bionic this line: https://github.com/BIC-MNI/libminc/blob/develop/libsrc/value_conversion.c#L404 produces division by zero, on 4D files which results in undefined behaviour. Probably it is handled differently in different versions of compilers.

[2019-07-09 15:29] vfonov commented on #90
Turns out real error is buffer overwrite in https://github.com/BIC-MNI/minc-tools/blob/develop/conversion/nifti1/mnc2nii.c#L145 , here VIO_N_DIMENSIONS=3 , which doesn't work as expected for 4D volumes.

[2019-07-09 19:23] gdevenyi commented on #90
Thanks @vfonov I've checked that out in my package build copies and I'm trying it out.

Can I ask where exactly the overflow was happening? I got the issue and was trying to trace it, but I'm not sure where the code goes wrong. Also, any idea why it worked with earlier versions?

[2019-07-09 19:30] vfonov commented on #90
it worked by magick!
Probably memory layout was different , so information about 4th dimension (time) didn't overwrite important data before.

[2019-07-11 13:28] gdevenyi commented on #90
@cmadjar I am uploading packages with @vfonov's fixes to https://packages.bic.mni.mcgill.ca/minc-toolkit/testbuilds/ , can you please give them a try in your environment of choice? Thanks.

[2019-07-11 14:42] cmadjar commented on #90
@gdevenyi It looks like it is fixed. I tested it on an Ubuntu 18.04 VM and the produced 4D datasets look good!

Thank you so much!!

[2019-07-11 15:02] gdevenyi commented on #90
Thanks @cmadjar

@vfonov shall we stamp a new release date and make a new 1.9.17 release or just replace the existing packages?

[2019-07-25 16:04] stilley2 commented on #91
Hi all,

Is there an easy workaround for this until the changes make it upstream?

Thanks!

[2019-07-25 16:12] gdevenyi commented on #91
`` mincreshape -normalize -unsigned -byte -image_range 0 255 -valid_range 0 255 output_from_minclookup.mnc fixed.mnc``

[2019-07-25 16:12] gdevenyi commented on #91
Fixed by #92

[2019-07-25 16:12] #91 closed, assigned to nobody

[2019-07-25 16:36] stilley2 commented on #91
Thanks!

[2019-07-30 19:25] cmadjar opened #94 "dcm2mnc binary versions"
Hi,

This is not really an issue but a general question for MINC developers.

To release open datasets, we had to use a specific `dcm2mnc` version that was compiled by Bert on CentOS and Ubuntu when he fixed an issue we encountered with the current `dcm2mnc`. I see that the code changes have been integrated in the github repository but it is not part of the latest MINC toolkit. I guess it will be

[2019-07-30 19:31] gdevenyi commented on #94
You could fork minctools, tag the commit that is the version you used, and emit your own DOI using Zenodo on the repository.

[2019-07-30 19:56] cmadjar commented on #94
Cool! Thank you for the hint!

One other question if I may. To create the dcm2mnc binaries, how one would do it? Never done it myself but it feels like something that could be helpful to know.

Thanks!

[2019-07-30 20:45] gdevenyi commented on #94
if you do a static build you can just post the binary directly and it should just be runnable for most linux folks.

[2019-07-31 14:50] cmadjar commented on #94
Perfect. Thank you for your help!

[2019-07-31 14:50] #94 closed, assigned to nobody

[2019-09-24 19:31] cmadjar opened #95 "dcm2mnc issue with Siemens Prisma scanner (QSM and multi-echo fieldmap)"
We are encountering an issue with two sequences that may be related:
- QSM scan type: dcm2mnc creates 4 different images but it should actually create:
  - 32 magnitude files (1 for each coil (32-channel))
  - 1 combined magnitude file (for all coils combined)
  - 32 phase files (1 for each coil (32-channel ))
  - 1 combined phase file (for all coils combined)
- multi-echo fieldmap: dcm2mnc does n

[2019-09-24 19:44] cmadjar opened #96 "dcm2mnc issue with GE MEDICAL SYSTEMS DISCOVERY MR750w"
Converting datasets acquired with a GE MEDICAL SYSTEMS DISCOVERY MR750w (software 27\LX\MR Software release:DV25.1_R03_1802.a) creates empty MINC files (min and max values within all MINC files are 0).

Output from the dcm2mnc command on those datasets:
[GE_dcm2mnc_output.txt](https://github.com/BIC-MNI/minc-tools/files/3649110/GE_dcm2mnc_output.txt)

[2019-09-24 19:48] cmadjar opened #97 "dcm2mnc issue with Philips Medical Systems Ingenia"
Converting datasets acquired with the Philips Medical Systems Ingenia lead to bad images. They all look like the screenshot below, regardless of the sequence.

![mnd1882_792909_initial_mri_20180613_101514_801sl0e1d1_mri mnc](https://user-images.githubusercontent.com/1402456/65545062-a0026f00-dee2-11e9-9145-01a03e706d1a.jpg)

Output from the dcm2mnc command can be found in the attached text file.
[

[2019-09-24 20:09] rdvincent commented on #96
Do you have a sample dataset?

[2019-09-24 20:09] rdvincent commented on #97
Again, a sample dataset would be good.

[2019-09-25 13:44] cmadjar commented on #97
Hi Bert,

I copied a sample dataset on `ace-storage-2.cbrain.mcgill.ca`. Path to the dataset: `/data1/ACElab_Shared/cmadjar/Philips_sample_dataset_for_Bert_2019-09-25.zip`

Thanks!

[2019-09-25 13:46] cmadjar commented on #96
Hi Bert,

I copied a sample dataset on `ace-storage-2.cbrain.mcgill.ca`. Path to the dataset: `/data1/ACElab_Shared/cmadjar/GE_sample_dataset_for_Bert_2019-09-25.zip`

Thank you!

[2019-10-17 19:44] gdevenyi opened #98 "mincstats does not honour order of command-line arguments"
Possibly dangerous in blind scripting:
[code]

[2019-10-23 22:22] stilley2 opened #99 "mnc2nii label creates wrong affine matrix when direction_cosines is not specified"
The files here [example.zip](https://github.com/BIC-MNI/minc-tools/files/3764785/example.zip) are the exact same, except out_ndc.mnc does not have the direction cosines specified. The spec says that the direction cosines should be assumed to be [1, 0, 0], [0, 1, 0], and [0, 0, 1] if they are not present. These assumed values are the same as in out.mnc, so the two files should have the same coordin

[2019-10-24 15:35] stilley2 commented on #99
FYI it seems that `inormalize` removes the direction_cosines if they are the default, which is how I ran into this problem.

[2019-10-24 21:01] cmadjar opened #100 "mnc2nii do not populate time_units header field in the NIfTI file"
the `time_units` header field in the NIfTI file is populated to unknown for functional datasets. This causes issues when validating NIfTI files through the BIDS validator where we get the following error:

[code]

Output of `fslhd`:
[code]

[2019-10-25 17:10] gdevenyi commented on #99
Hi,

Can you post the mincheader outputs of a good vs bad file?

[2019-10-25 17:14] gdevenyi commented on #99
THe question about this bug is twofold:
1. Is a minc file without direction cosines a valid minc file?
2. What does https://github.com/BIC-MNI/minc-tools/blob/develop/conversion/nifti1/mnc2nii.c#L581-L582 return if a file has no direction cosine.

This *could* be classified as an inormalize bug depending on 1.
2. could be a corner case of the code. Will investigate.

[2019-10-25 17:18] stilley2 commented on #99
Good file header (out.mnc)

[code]

bad file header (out_ndc.mnc)

[code]

[2019-10-25 17:20] stilley2 commented on #99
From [here](https://en.wikibooks.org/wiki/MINC/SoftwareDevelopment/MINC2.0_File_Format_Reference):
"direction_cosines - Numeric vector with 3 elements giving the direction cosines of the axes. Although axes are labeled x, y and z, they may in fact have a significantly different orientation - this attribute allows the direction relative to the true axes to be specified exactly. The vectors should b

[2019-10-25 17:20] gdevenyi commented on #100
I can find no documentation regarding what values are valid for time_units in the NIFTI library...

[2019-10-25 17:21] stilley2 commented on #99
Additionally, I believe other programs besides inormalize do this, although I haven't tracked them down.

[2019-10-25 17:24] gdevenyi commented on #100
After falling down the terrifying rabbithole that is the NIFTI1 library...
https://github.com/NIFTI-Imaging/nifti_clib/blob/9659cbecc827e15c07ccc1a03023e8c348aa14fe/nifti2/nifti1.h#L1329-L1333

[2019-10-25 17:28] gdevenyi commented on #99
Thanks, my next stop was to check the file format docs.

We need to determine now if the problem is in mnc2nii or in ``miattget``.

[2019-10-25 17:28] gdevenyi commented on #99
Also, I've been bitten by this bug, here's my report https://github.com/BIC-MNI/minc-tools/issues/69

You figured out the root cause in terms of the difference in files :)

[2019-10-25 17:34] gdevenyi commented on #100
We need
[code]

Or similar set.

Need to find the docs on the units inside MINC.

[2019-10-25 17:38] gdevenyi commented on #100
There is a units specification for dimensions:
[code]

However,

So we either assume seconds, or use this to check and set appropriately on conversion.

[2019-10-25 17:47] stilley2 commented on #99
If you're interested, [here's](https://github.com/pndni/pndni_utils/blob/master/python/pndni/minc_default_dircos.py) my temporary workaround to set the default direction_cosine

[2019-10-26 16:25] eds-slim opened #101 "volume_stats: Assertion failed in CachedArray.cc AND seg fault in spline_smooth"
Hello,
in the context of pre-processing some rs-fMRI data I am running freesurfer on an HPC. However, I am receiving segmentation faults in `mri_convert` which I have been able to track to a problem with `volume_stats` and `smooth_spline`:

From the mri folder of my subject's freesurfer tree I run

[code]
which results in
[code]
Line 742 reads `assert(_s.is_open())`;

Interestingly, when I run `vo

[2019-11-23 17:00] gdevenyi commented on #99
Working on this today, some updates:
1. ``miattget`` does not modify the direction cosines if direction cosines are not specified in the minc file, it remains to be seen if the API should return the spec-specified values if none are in the file
2. The loop around this code which sets the cosines depends on the ordering of the dimensions in the minc file, so, for your files, "zspace,yspace,xspace",

[2019-11-25 16:07] vfonov commented on #99
miattget is low level call  it's not supposed to know about default values of some attributes.

[2019-11-25 19:44] gdevenyi commented on #99
Thanks @vfonov I dug through the code and came to the same conclusion. I also found that mnc2nii uses minc1 API so ordering control isn't available.

As such I've been digging through the  logic to see how I can fix nii2mnc

[2019-12-04 16:11] vfonov commented on #101
I suggest trying with recent version of minc-toolkit (i.e 1.9.17) , freesurfer still bundles version of minc of 1.5.1 with tools from around 2007

[2020-01-14 16:55] cmadjar commented on #100
This issue was indeed resolved by the fix. Sorry, I forgot to update and close the issue...

[2020-01-14 16:55] #100 closed, assigned to nobody

[2020-01-15 16:39] ileppe opened #103 "dcm2mnc - phase encore direction information missing"
Hi,
The phase encoding polarity seems to be missing from the mincheader. It's needed for field mapping using phase encode reverse images (often used in dwi and fmri). From what I see, the information is in the dicom header in the `CSA Header` and is called `PhaseEncodingDirectionPositive`.
for e.g.  if phase encode is COL, a value of 1 means AP, 0 means PA

It would be great to add a mincheader fi

[2020-02-28 04:47] ljc19800331 opened #104 "mnc2nii requires no transformation input?"
Hello, I am using the BITE dataset and mnc2nii function to convert the .mnc file to the .nii file. In the dataset, I also get the .tag file. I want to show the .tag fiducials on the .nii file but I am not sure if the mnc2nii function will change any voxel coordinate from the original .mnc file. I am wondering if I need to apply any transformation to the .tag file after converting .mnc to .nii form

[2020-03-02 17:06] gdevenyi commented on #104
The mnc2nii function, when working correctly, applies no transformations or adjustments to the orientation of the file.

You can confirm orientations by using register or Display, both which can open both MINC and NIFTI.

Be aware of this bug, and its workaround, https://github.com/BIC-MNI/minc-tools/issues/99
Fixed in code but not yet in release.

[2020-03-02 17:06] #104 closed, assigned to nobody

[2020-03-12 02:17] ljc19800331 commented on #104
@gdevenyi Great thanks. I try the mnc2nii command for the two .mnc files to convert to the .nii files. However. when I also load the .tag file into the 3D slicer, the fiducials are not matched with the .nii files. Is there any additional step I need to do to get the correct .tag file after convertion?

Step 1: mnc2nii 2u.3dus.mnc 2a.3dus.mnc  --- 1.nii and 2.nii files.
Step 2: Load the 1.nii and 2

[2020-03-12 12:45] gdevenyi commented on #104
Please confirm you are not being bitten by #99 by loading the mnc and converted nii files into "register 2u.3dus.mnc 1.nii"

[2020-05-22 15:21] gdevenyi commented on #99
Fixed.

[2020-05-22 15:21] #99 closed, assigned to nobody

[2020-05-22 15:22] gdevenyi commented on #90
Fixed

[2020-05-22 15:22] #90 closed, assigned to nobody

[2020-05-22 15:23] #86 closed, assigned to nobody

[2020-05-22 15:23] gdevenyi commented on #69
Fixed by #99

[2020-05-22 15:23] #69 closed, assigned to nobody

[2020-05-22 15:24] gdevenyi commented on #63
Fixed

[2020-05-22 15:24] #63 closed, assigned to nobody

[2020-05-22 15:25] gdevenyi commented on #47
Fixed

[2020-05-22 15:25] #47 closed, assigned to nobody

[2020-06-26 14:15] zijdenbos opened #105 "Tempdir handling by various MINC tools"
Several of the MINC shell scripts generate temporary files/dirs that are solely based on pid. This can lead to name clashes with past runs on the same host, if these tempdirs/files were not cleaned up (which can happen under various circumstances - qdel being one of them). This in turn would cause these tools to crash when they shouldn't have. Specifically, these are affected:

mincdiff
mincedit
m

[2020-07-06 15:27] bcdarwin opened #107 "can't be built outside of toolkit due to missing cmake-modules/FindNIFTI.cmake"

[2020-07-06 19:10] gdevenyi commented on #107
Hi @bcdarwin have you tried the https://github.com/BIC-MNI/minc-toolkit-v2/blob/develop-1.9.18/cmake-modules/FindNIFTI.cmake from minc-toolkit-v2? Does it work as-is?

[2020-07-06 19:21] bcdarwin commented on #107
I tried the one from libminc and it worked.

[2020-07-07 14:37] vfonov commented on #67
fixed by https://github.com/BIC-MNI/minc-tools/commit/157d0532dd137e21147ee3de6a92e77f37463457

[2020-07-07 14:37] #67 closed, assigned to nobody

[2020-07-07 20:22] #107 closed, assigned to nobody

[2020-07-17 15:46] gdevenyi commented on #105
Fixed.

[2020-07-17 15:46] #105 closed, assigned to gdevenyi

[2020-07-17 15:47] gdevenyi commented on #101
Please reopen if updated minc-tools still have this issue.

[2020-07-17 15:47] #101 closed, assigned to nobody

[2020-07-17 15:50] gdevenyi commented on #32
Fixed

[2020-07-17 15:50] #32 closed, assigned to rdvincent

[2020-07-17 15:54] gdevenyi commented on #60
Hrm this does seem like the wrong way. The issue with "fixing" this is if anything depends on the wrong implementation. @vfonov thoughts?

[2020-07-17 15:57] gdevenyi commented on #52
I think the issue here was probably that %A wasn't enough to make each scan unique because some series produce more than one output file. Probably needs a warning.

[2020-07-17 15:59] gdevenyi commented on #46
I think this is an issue with the underlying API implementation. I've run into this with a couple of other commands which do this during the issues with mnc2nii
https://github.com/BIC-MNI/minc-tools/issues/69

[2020-07-17 16:00] #28 closed, assigned to nobody

[2020-07-17 16:00] #22 closed

[2020-07-17 16:03] gdevenyi commented on #8
Tested with latest versions, fixed.

[2020-07-17 16:03] #8 closed

[2020-07-28 18:47] cmadjar opened #109 "mnc2nii - Floating point exception (core dumped) error"
I have 3 MINC files (out of 23,587) that fails conversion to NIfTI files with the following error:

[code]

Full verbose output when using the `-verbose` option:
[code]

The MINC files seem valid and I can perform other manipulation on them (like mincpik, mincheader, mincinfo...). Not sure why these particular files are failing since all the files on that VM were all generated the same way.

Wonde

[2020-07-28 18:50] cmadjar commented on #109
Ooops, sorry, I forgot to mention the version of the `mnc2nii` I have installed:

[code]

from MINC toolkit 1.9.17

[2020-07-28 19:23] gdevenyi commented on #109
Hi,

Please test inside a different environment to exclude specific environment effects.

Can you please also detail how minc-toolkit was installed. Thanks.

[2020-07-28 19:37] cmadjar commented on #109
looks like something went wrong with the creation of the binary somehow cause using the same binary from a different VM worked on those files...

Wonder why mnc2nii worked on 23,587 files but not those three. Weird... Anyhow, will close the issue.

Thanks!

[2020-07-28 19:37] #109 closed, assigned to nobody

[2020-07-28 20:42] vfonov commented on #109
Could be related to the fix in mni2nii we made not long time ago: https://github.com/BIC-MNI/minc-tools/issues/90 - maybe you got an old version installed?

[2020-12-04 15:43] gdevenyi opened #110 "nii2mnc doesn't seem to handle scl_slope and scl_inter properly"
nii2mnc seems to have issues handling the voxel storage/scaling features of nifti.

I have a file with scl_slope = 0.000219166, scl_inter = 0

If I re-generate the NIFTI using ANTs ConvertImage, which strips the scaling and encodes directly in the voxel values:
[code]

I can see that the resulting MINC files are different
[code]

[code]

Comparing the two MINC files, `min(file_without_scaling.mnc)

[2021-03-12 21:29] bbbxyz opened #111 "Undefined behaviour in mincresample"
I discovered an array overflow in resample_volume's trilinear_interpolant() while running mincresample on an input volume with a slice dimension size of one. It attempts to read from index `slcind+1` [here](https://github.com/BIC-MNI/minc-tools/blob/develop/progs/mincresample/resample_volumes.c#L733-L738) but `volume->offset` is created with a size of 1
[here](https://github.com/BIC-MNI/minc-tools

[2021-03-12 21:42] vfonov commented on #111
yes, looks like it is an attempt to account for interslice normalization , that's gone wrong.
fix looks reasonable

[2021-05-26 19:39] #111 closed, assigned to nobody

[2021-05-28 17:01] Colm2021 opened #114 "'Floating point exception' error using mnc2nii"
Dear Gabriel,

I am getting a 'Floating point exception' error when trying to convert a 4D .mnc file to a .nii file using mnc2nii.

Here is the mincinfo input for the input file:
file: FAL_EEG_001_PETs_1to3_stepcorrected_reshaped_realigned_corrected_DCed.mnc
image: unsigned short 0 to 65535
image dimensions: time zspace yspace xspace
    dimension name         length         step        start

[2021-05-28 18:02] vfonov commented on #114
could be fixed in https://github.com/BIC-MNI/minc-tools/issues/109

[2021-05-28 18:19] gdevenyi commented on #114
As per @vfonov

The latest version is
[code]

Please try the latest release. Packages for the major supported platforms are available at https://bic-mni.github.io/

Also please let us know from where you got your current install.

[2021-06-01 11:38] Colm2021 commented on #114
Hello,

Thank you very much for your help.
I was using 1.9.16.
I have installed 1.9.18 now and it seems to be working correctly,

Thanks again and best wishes,
Colm

[2021-06-01 18:55] #114 closed, assigned to nobody

[2021-06-14 15:24] jpcoutu commented on #89
By the way, this is fixed by: https://github.com/BIC-MNI/minc-tools/pull/113

[2021-06-14 15:28] jpcoutu commented on #75
This is fixed in https://github.com/BIC-MNI/minc-tools/pull/113

[2021-06-14 15:30] jpcoutu commented on #73
This is fixed in https://github.com/BIC-MNI/minc-tools/pull/113

[2021-06-14 15:31] jpcoutu commented on #72
This is all fixed/included in https://github.com/BIC-MNI/minc-tools/pull/113

[2021-08-29 02:20] Leong1230 opened #116 "Use min-tools on Win10"
Hi!
Dose minc-tools have any version that supports Win10 (64-bit)？
The compatibility issues with the executable files stopped me from trying command like "minchead". (Download from http://www.bic.mni.mcgill.ca/ServicesSoftware/MINC).

Do you have any suggestion?

[2021-08-30 14:01] gdevenyi commented on #116
Hi,

We do not support Windows as a primary platform. You may be interested in either WSL to run Ubuntu inside windows, or https://github.com/cobralab/MINC-VM which uses VirtualBox.

[2021-08-30 14:01] #116 closed, assigned to nobody

[2021-10-01 17:28] cmadjar opened #117 "mnc2nii not populating fields dim_info and slice_code in the NIfTI file"
The dim_info and slice_code headers do not appear to be populated in the NIfTI file resulting from mnc2nii conversion.

@zaliqarosli, could you provide details about the mnc2nii binary that was used to produce the CBGR dataset? Thanks!

[2021-10-01 18:43] zaliqarosli commented on #117
The mnc2nii from the MINC toolkit version 1.9.17 was used to produce the CBIGR dataset.
I have rerun 1 session from that dataset with the MINC toolkit 1.9.18 for CentOS 7.8 (http://packages.bic.mni.mcgill.ca/minc-toolkit/RPM/minc-toolkit-1.9.18-20200813-CentOS_7.8.2003-x86_64.rpm).
Here's the redmine ticket for reference: https://redmine.cbrain.mcgill.ca/issues/19247

The dim_info and slice_code h

[2021-10-01 22:49] vfonov commented on #117
Well, there is no functionality for that in mnc2nii.

[2022-01-23 20:21] KarissaChan1 opened #118 "mnc2nii error - "floating point exception (core dumped)""
Some of my MINC DWI files get the "floating point exception (core dumped)" error when trying to convert to NII using mnc2nii, but others don't. Looking through the data, there doesn't seem to be any differences in data type between volumes that show the error and those that get converted successfully. Anyone have any suggestions on what might be wrong and how I could debug this?

[2022-01-24 19:06] gdevenyi commented on #118
Hi, to help here we'll need what version you're using, how you installed it, and preferably some example data of working and non-working.

[2022-01-25 19:02] KarissaChan1 commented on #118
Hi Gabriel, I tried it with the two most recent versions of the VM found here: https://packages.bic.mni.mcgill.ca/virtual-machines/
I ran a python script from command line in the VM to batch process my data. I've linked a OneDrive folder with 2 MNC files: one that gave the error that I named with "FLAG" at the end of the filename, and the other that didn't with "Working".

https://1drv.ms/u/s!Agw9

[2022-01-25 19:25] vfonov commented on #118
Probably the same bug as https://github.com/BIC-MNI/minc-tools/issues/90, got fixed in 1.9.17

[2022-01-25 21:09] gdevenyi commented on #118
I will look into updating the VM.

In the meantime, you could download the .deb file here, https://bic-mni.github.io/#v2-version-1918, install with `dpkg -i` inside the VM and source the new installed version to get the up-to-date converter manually.

[2022-01-27 02:18] KarissaChan1 commented on #118
Great, thanks so much. I installed the new version, and it worked fine with about half of my files, but for the other half I got another error:

HDF5-DIAG: Error detected in HDF5 (1.10.4) thread 139822491150720:
  #000: ../../../src/H5Dio.c line 199 in H5Dread(): can't read data
    major: Dataset
    minor: Read failed
  #001: ../../../src/H5Dio.c line 601 in H5D__read(): can't read data
    majo

[2022-02-08 22:18] bbbxyz opened #119 "mincreshape modifies image-min when changing type"
Hello,

I've encountered some odd behaviour with `mincreshape`:

[code]
This works as expected and creates a volume filled with 5's with an image-min of 5

[code]
Is this expected?

[2022-02-09 20:45] vfonov commented on #119
`make_phantom phantom.mnc` - makes a volume with values between 0 and 1
`mincreshape -fillvalue 5 -valid_range 5 10 -image_range 5 10 phantom.mnc phantom_5_10.mnc ` creates a volume filled with NaN's , because all values are outside of image range.
`mincreshape -byte phantom_5_10.mnc phantom_byte.mnc` tries to convert NaN values to bytes, replaces them with 0 (pixfillvalue)